@font-face {
    font-family: "ProximaNova_Bold";
    src: 
    url("../fonts/Proxima_Nova_Bold.ttf") format("ttf"),
    url("../fonts/Proxima_Nova_Bold.woff") format("woff"),
    url("../fonts/Proxima_Nova_Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ProximaNova_SemiBold";
    src: 
    url("../fonts/Proxima_Nova_SemiBold.otf") format("ttf"),
    url("../fonts/Proxima_Nova_SemiBold.woff") format("woff"),
    url("../fonts/Proxima_Nova_SemiBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PTSans_Regular";
    src: 
    url("../fonts/PTSans-Regular.ttf") format("ttf"),
    url("../fonts/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PTSans_RegularItalic";
    src: 
    url("../fonts/PTSans-RegularItalic.ttf") format("ttf"),
    url("../fonts/PTSans-RegularItalic.woff") format("woff"),
    url("../fonts/PTSans-RegularItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PTSans_BoldItalic";
    src: 
    url("../fonts/PTSans-BoldItalic.ttf") format("ttf"),
    url("../fonts/PTSans-BoldItalic.woff") format("woff"),
    url("../fonts/PTSans-BoldItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PTSans_Bold";
    src: 
    url("../fonts/PTSans-Bold.ttf") format("ttf"),
    url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
