$brightButton: #C9ECF8;
$darkButton: #101A81;
$brightText: #fff;
$brightBGColor: #ebebeb;
$darkText: #6f6869;
$buttonText: #7d7a7c;
$servicesBGColor: #dbdbdb;
$servicesTitleColor: #665f60;
$servicesBigColor: #fefcfd;
$teamColor: #9f9acf;
$socialHover: #961AF6;
$inputText: #695B5B;
$inputBGColor: #ebebeb80;
$mapBGColor: #c8c4da;
$borderBtnColor: #8783b0;
$appearBGColor: #dad8e3;
